<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
  </head>
  <body>
    <glow-media-unit
      style="background: black;"
      exit-link="<%= exitLink %>"
      size="<%= size %>"
      <% if (premiereDate) { %>
      premiere-date="<%= user.name %>"
      <% } %>
      >
    </glow-media-unit>
    <script src="https://s0.2mdn.net/ads/studio/Enabler.js"></script>
  </body>
</html>
