<p>
  <b
    >IMPORTANT SAFETY INFORMATION FOR ALVESCO® (ciclesonide) INHALATION AEROSOL
    80 MCG, 160 MCG</b
  >
  <br />
  <br />
  Please read
  <a target="_blank" href="https://hcp.alvesco.us/assets/Alvesco_PI_2019.04.pdf"
    >Full Prescribing Information</a
  >
  for ALVESCO® Inhalation Aerosol.<br /><br />

  <b> INDICATION for ALVESCO®(ciclesonide) INHALATION AEROSOL </b>
  <br /><br />

  ALVESCO® is indicated for the maintenance treatment of asthma as prophylactic
  therapy in adult and adolescent patients 12 years of age and older. ALVESCO is
  NOT indicated for the relief of acute bronchospasm. ALVESCO is NOT indicated
  for children under 12 years of age.
  <br /><br />
  <b> IMPORTANT SAFETY INFORMATION for ALVESCO </b>
  <br />
  <br />
  ALVESCO is contraindicated in the primary treatment of status asthmaticus or
  other acute episodes of asthma where intensive measures are required.
  <br /><br />
  Rare cases of hypersensitivity reactions with manifestations such as
  angioedema, with swelling of the lips, tongue, and pharynx, have been
  reported.

  <br /><br />
  The development of localized infections of the mouth and pharynx with Candida
  albicans have occurred infrequently. When such an infection develops, it may
  be necessary to interrupt therapy with ALVESCO.

  <br /><br />
  Patients who are using immunosuppressant doses of corticosteroids are more
  susceptible to infections than healthy individuals. Chicken pox and measles
  can have a more serious or even fatal course in susceptible individuals.
  Inhaled corticosteroids should be used with caution, if at all, in patients
  with active or quiescent tuberculosis infections of the respiratory tract;
  untreated local or systemic fungal or bacterial infections, systemic viral or
  parasitic infections; or ocular herpes simplex because of the potential for
  worsening of these infections.

  <br /><br />
  Particular care is needed for patients who are transferred from systemically
  active corticosteroids due to the potential for adrenal insufficiency.
  Patients should taper slowly from systemic corticosteroids if switching to
  ALVESCO.

  <br /><br />
  It is possible that systemic corticosteroid effects such as hypercorticism and
  adrenal suppression may appear in a small number of patients particularly when
  ALVESCO is administered at higher than recommended doses over prolonged
  periods of time. If such effects occur, the dosage of ALVESCO should be
  reduced slowly, consistent with accepted procedures for reducing systemic
  corticosteroids and management of asthma.

  <br /><br />
  Decreases in bone mineral density have been observed with long-term
  administration of inhaled corticosteroids. Patients with major risk factors
  for decreased bone mineral content should be monitored.

  <br /><br />
  Orally inhaled corticosteroids may cause reduction in growth velocity when
  administered to pediatric patients. Monitor the growth of pediatric patients
  receiving ALVESCO.

  <br /><br />
  Glaucoma, increased intraocular pressure, and cataracts have been reported
  following the administration of inhaled corticosteroids including ALVESCO.
  Patients with a change in vision or with a history of increased intraocular
  pressure, glaucoma, and/or cataracts should be closely monitored.

  <br /><br />
  If bronchospasm occurs following dosing with ALVESCO, it should be treated
  immediately with a fast-acting inhaled bronchodilator.

  <br /><br />
  The most common adverse reactions in clinical trials were headache,
  nasopharyngitis, sinusitis, pharyngolaryngeal pain, upper respiratory
  infection, arthralgia, nasal congestion, pain in extremity, and back pain.

  <br /><br />
  To report SUSPECTED ADVERSE REACTIONS, contact Covis Pharma at 1-866-488-4423
  or FDA at 1-800-FDA-1088 or
  <a target="_blank" href="http://www.fda.gov/medwatch">www.fda.gov/medwatch</a
  >. <br /><br />

  Please read
  <a target="_blank" href="https://hcp.alvesco.us/assets/Alvesco_PI_2019.04.pdf"
    >Full Prescribing Information</a
  >
  and
  <a
    target="_blank"
    href="https://hcp.alvesco.us/assets/Alvesco-PatientInformation.pdf"
    >Patient Information</a
  >
  for Alvesco® Inhalation Aerosol. <br /><br />

  Flovent is trademarked to GSK <%- references %>
  <br /><br />
  <b> CP ALV <%= lmr %> </b>
</p>
