<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="ad.size" content="<%= sizeMeta %>">
    <title><%= client %> | <%= campaignName %></title>
  </head>
  <body>
    <div class="media-unit" exit-link="Visit Site" size="300x250">
      <div class="exit-link">
        <div class="evergreen">
          <img class="cl1" src="assets/cl1.svg" />
          <img class="cl2" src="assets/cl2.svg" />
          <img class="cl3" src="assets/cl3.svg" />
          <img class="logo" src="shared-assets/logo.png" alt="Alvesco Logo" />
        </div>

        <div class="f1">
          <div class="c1">
            <%= copyOne %>
            <div><span class="small">(fluticasone propionate)</span>?</div>
          </div>
          <img class="t lazy" data-src="assets/t.png" />
        </div>

        <div class="f2">
          <div class="c2">
            Offer Patients 2 Affordable Access Programs from Alvesco.
          </div>
          <img class="bush1 lazy" data-src="assets/bush.svg" />
          <img class="bird1 lazy" data-src="assets/bird.png" />
        </div>

        <div class="f3">
          <div class="c3">Most Patients<br />Pay $0-$5 per Rx.*</div>
          <img class="branch1 lazy" data-src="assets/branch.png" />
        </div>

        <div class="f4">
          <div class="c4">
            Switch Patients To Alvesco Today!
          </div>

          <div class="tmm">
            Tell Me More >
          </div>

          <img class="bush3 lazy" data-src="assets/bush3.svg" />
        </div>

        <div class="evergreen s4m">SCROLL TO SEE MORE</div>
      </div>
      <div class="isi"></div>
    </div>

    <script src="https://s0.2mdn.net/ads/studio/Enabler.js"></script>
    <script src="https://s0.2mdn.net/ads/studio/cached_libs/gsap_3.0.1_min.js"></script>
    <script src="https://s0.2mdn.net/ads/studio/cached_libs/motionpathplugin_3.2.4_min.js"></script>
    <script src="https://s0.2mdn.net/ads/studio/cached_libs/scrolltoplugin_3.2.4_min.js"></script>
  </body>
</html>
